<div class="card border-light">
    <img [src]="book.cover" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <p class="card-text">{{ book.author }}</p>
      <div class="row">
          <div class="col-6">
              <span class="price">${{ book.price }}</span>
          </div>
          <div class="col-6 d-grid">
            <a href="#" class="btn btn-outline-primary">View</a>
          </div>
      </div>
    </div>
  </div>