<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6 col-xl-4">
            <div class="card">
                <div class="card-body">
                    <img [src]="avatarUrl" alt="" class="w-100">
                    <hr>
                    <form #form="ngForm" (ngSubmit)="handleSubmit(form)">
                        <div *ngIf="(loadedData | async) === null">
                            <label for="username" class="form-label">Username</label>
                            <input
                                type="text"
                                id="username"
                                class="form-control"
                                name="username"
                                ngModel
                                required
                                minlength="4"
                                maxlength="16"
                                [disabled]="isLoading">
                            <div class="d-grid mt-3">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="form.invalid || isLoading">
                                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Log in
                                    </button>
                            </div>
                        </div>
                        <div *ngIf="loadedData | async as placeholder" class="text-center">
                            <h3>Welcome {{ placeholder.name }}!</h3>
                            You'll be redirected to the catalog <br>
                            after <b>{{ placeholder.time }}</b> seconds
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>