<div class="card p-4">
    <div class="row">
        <div class="col-6">
            <img src="" class="img-fluid" alt="">
        </div>
        <div class="col-6">
            <h2>Title</h2>
            <span>Author</span>
            <p class="tags">
                <span class="badge bg-secondary">tags</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>
                Description...
            </p>
        </div>
    </div>
</div>